<!DOCTYPE html>
<html lang="en">
    <head>
    
        <title>deleteconfirmation</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style_home.css') }}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>delete user</title>
    </head>
    <body>
        <h1> Delete Person </h1>
        <h2> the user has been deleted and placed into the deleted users list. </h2>
        <button onclick="window.location.href = '/home';"> Return Home</button>
    </body>
</html>  